* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Kumbh Sans', sans-serif;
}

.main-nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
  margin-bottom: 3.1em;
}

.main-nav .menu {
  display: none;
}

.main-nav_h {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2em;
  margin-top: .1em;
}

.main-nav #x {
  display: none;
}

.main-nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 2em;
  margin-top: 1em;
}

.main-nav .cart {
  cursor: pointer;
  margin-right: 3em;
}

.main-nav .face {
  margin-top: -.1em;
  height: auto;
  width: 40px;
}

.main-nav .main-nav_ul li {
  margin-right: 1.7em;
  color: #68707d;
}

.main-nav .header-cart-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1em;
  width: 100%;
  margin-right: 1em;
}

.orange-btn {
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff7d1a;
  color: white;
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  margin-left: 1em;
}

.orange-btn:hover {
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
}

.cartbox-loc {
  position: relative;
  z-index: 2;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cartbox {
  visibility: hidden;
  min-height: 230px;
  background-color: white;
  position: relative;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: -2em;
  margin-right: 3.5em;
}

.visible {
  visibility: visible;
}

.cartbox p {
  margin: 1em;
}

.inner-cartbox {
  margin-top: 1em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thumbnail-cart {
  margin-left: 1em;
  height: 40px;
  width: 70px;
}

.res-img {
  height: auto;
  width: 100%;
}

.cart-trash {
  margin-top: 1.2em;
}

.button-cart-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bothsides {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3em;
}

.hr {
  color: #f7f8fd;
  margin: 0 auto;
  width: 72%;
  margin-bottom: 1em;
}

.leftside {
  width: 50%;
  margin-right: 3em;
}

.prevandnext {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  bottom: 220px;
}

.circle-grey {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #f7f8fd;
}

.arrow {
  height: 25px;
  width: 15px;
}

.left-arr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 1em;
}

.right-arr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1em;
}

.main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.lower-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 1em;
}

.big-img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

.small-img {
  width: 87px;
  height: 90px;
  margin: .5em;
  border-radius: 20px;
}

.small-img:hover {
  cursor: pointer;
  border: 3px solid #ff7d1a;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
}

.rightside {
  width: 30%;
}

.rightside_h4 {
  color: #ff7d1a;
  letter-spacing: .2em;
  margin-top: 3em;
  margin-bottom: 1em;
}

.rightside_h1 {
  margin-bottom: .5em;
}

.rightside_p1 {
  color: #68707d;
  line-height: 1.6em;
  margin-bottom: 1em;
}

.rightside_p2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-right: .5em;
}

.rightside_p3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 30px;
  font-weight: bolder;
  background-color: #ffede0;
  color: #ff7d1a;
  margin-right: 1em;
}

.rightside_p4 {
  color: #b6bcc8;
  font-weight: bold;
  text-decoration: line-through;
}

.prices-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.addcart-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

.addnumbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f8fd;
  height: 50px;
  width: 150px;
  border-radius: 10px;
}

.addnumbox p {
  cursor: pointer;
  font-weight: 800;
  margin-left: 2.8em;
  margin-right: 2.8em;
}

.sign {
  cursor: pointer;
  width: 13px;
}

.white-cart {
  margin-right: 1em;
}

@media screen and (max-width: 875px) {
  .main-nav {
    height: 70px;
    position: relative;
    z-index: 2;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .main-nav .menu {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35px;
    margin-top: .6em;
  }
  .main-nav_h {
    margin-left: .4em;
  }
  .main-nav #x {
    cursor: pointer;
    display: block;
    position: relative;
    top: 2em;
    width: 20px;
    padding-bottom: 6em;
  }
  .main-nav_ul {
    visibility: hidden;
    margin-top: -1em;
    margin-right: -60%;
    padding-left: 2em;
    width: 60vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 3;
    right: 100%;
    top: 0;
    color: black;
    font-weight: 800;
    background-color: white;
    line-height: 3em;
  }
  .main-nav .cart {
    margin-left: -2.2em;
    margin-right: .5em;
  }
  .main-nav .face {
    height: auto;
    width: 40px;
  }
  .main-nav .visible {
    visibility: visible;
  }
  .hr {
    display: none;
  }
  .bothsides {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leftside {
    width: 100%;
    margin-right: 0;
  }
  .big-img {
    width: 100%;
    border-radius: 0px;
  }
  .lower-imgs {
    display: none;
  }
  .prevandnext {
    width: 100%;
  }
  .rightside {
    width: 90%;
  }
  .rightside_h4 {
    font-size: 0.8rem;
    letter-spacing: .1em;
  }
  .rightside_p1 {
    font-size: 0.9rem;
    margin-bottom: 1.5em;
  }
  .rightside_p4 {
    display: none;
  }
  .rightside_p4-small {
    width: 51vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #b6bcc8;
    font-weight: bold;
    text-decoration: line-through;
  }
  .rightside .addcart-div {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2em;
  }
  .rightside .addnumbox {
    width: 100%;
    margin-bottom: .7em;
  }
  .rightside .addnumbox p {
    font-weight: 800;
    margin-left: 35vw;
    margin-right: 35vw;
  }
  .rightside .sign {
    cursor: pointer;
  }
  .rightside .orange-btn {
    width: 100%;
    margin-left: 0em;
  }
  .rightside .orange-btn:hover {
    -webkit-filter: grayscale(10%);
            filter: grayscale(10%);
  }
  .rightside .white-cart {
    margin-right: 1em;
  }
}
/*# sourceMappingURL=styles.css.map */