
.pinkhr{
    color: hotpink;
    margin: 0 auto;
    width: 72%;
    margin-bottom:1em;
}
.pink{
    color: hotpink;
}
.pink-btn{

    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hotpink;
    color:white;
    border:none;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    margin-left: 1em;

}
.cartnum-pink{
    width: 30px;
    color: $White;
    font-weight: 800;
    text-align: center;
    border-radius: 10px;
    background-color: hotpink;
    position: relative;
    top: -1em;
    left:-3.8em;
    margin-right:-2em;
}

.rightside{
&_h4-pink{
    color:rgb(253, 158, 174);
    letter-spacing: .2em;
    margin-top: 3em;
    margin-bottom:1em;
}
}