@import "config";
@import "mixins";
@import "mediaquery";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}
//main nav nest
.main-nav{
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 3.1em;
    .menu{
        display: none;
    }
    &_h{
        font-size: 2rem;
        font-weight: 700;
        margin-left: 2em;
        margin-top: .1em;
    }
    #x{
        display: none;
    }

    &_ul{
        display: flex;
        list-style: none;
        margin-left: 2em;
        margin-top: 1em; 
    }
    .cart{
        cursor: pointer;
        margin-right: 3em;
    }
    .face{
        margin-top: -.1em;
        height: auto;
        width: 40px;
    }
    .main-nav_ul li{
        margin-right: 1.7em;
        color: $Dark-grayish-blue;
    }

    .header-cart-div{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1em;
        width: 100%;
        margin-right: 1em;
    }
}
.orange-btn{

    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Orange;
    color:white;
    border:none;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    margin-left: 1em;

}
.orange-btn:hover{
filter: grayscale(10%);
}

.cartbox-loc{
    position: relative;
    z-index:2;
    height: 0;
    display:flex;
    justify-content: flex-end;
}
.cartbox{
    visibility: hidden;
    min-height: 230px;
    background-color:$White;
    position: relative;
    z-index:1;
    flex-direction: column;
    width:25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:-2em;
    margin-right: 3.5em;
}
.visible{
    visibility: visible;
}
.cartbox p{
    margin:1em;
}
.inner-cartbox{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}
.thumbnail-cart{
    margin-left: 1em; 
    height:40px;
    width:70px;
}
.res-img{
height: auto;
width: 100%;
}
.cart-trash{
    margin-top: 1.2em;
}
.button-cart-pos{
    display: flex;
    justify-content: center;
}
.bothsides{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin: 3em;
}
.hr{
    color: $Light-grayish-blue;
    margin: 0 auto;
    width: 72%;
    margin-bottom:1em;
}
.leftside{
    width:50%;
    margin-right: 3em;
}
.prevandnext{
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    bottom:220px;
}
.circle-grey{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: $Light-grayish-blue
}
.arrow{
    height: 25px;
    width: 15px;
    
}
.left-arr{
display: flex;
 width: 50%;
 justify-content: flex-start;
 margin-left:1em;
}
.right-arr{
 display: flex;
 width: 50%;
 justify-content: flex-end;
 margin-right:1em;

}


.main-img{
    @include justifyflexcenter();
    width: 100%;
}
.lower-imgs{
    @include justifyflexcenter();
    width: 100%;
    margin-top: 1em;
    
}
.big-img{
    width:400px;
     height:400px;
     border-radius: 20px;

}
.small-img{
    width:87px; 
    height:90px;
    margin:.5em;
    border-radius: 20px;
}
.small-img:hover{
    cursor: pointer;
    border: 3px solid $Orange;
    filter: grayscale(30%);
   
   
}

//right side nest
.rightside{
    width:30%;
    &_h4{
        color:$Orange;
        letter-spacing: .2em;
        margin-top: 3em;
        margin-bottom:1em;
    }
    &_h1{
        
        margin-bottom:.5em;
    }
    &_p1{
        color: $Dark-grayish-blue;
        line-height: 1.6em;
        margin-bottom:1em;
    }

    &_p2{
        font-size: 1.5rem;
        font-weight:bolder;
        margin-right: .5em;
    }
    &_p3{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 30px;
        font-weight: bolder;
        background-color: $Pale-orange;
        color: $Orange;
        margin-right: 1em;
    }
    &_p4{
        color:$Grayish-blue;
        font-weight: bold;
        text-decoration: line-through;
    }
}
.prices-div{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.addcart-div{
    display: flex;
    margin-top: 1em;
}
.addnumbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Light-grayish-blue;
   height: 50px;
   width:150px;
   border-radius: 10px;
}
.addnumbox p {
    cursor: pointer;
    font-weight: 800;
    margin-left: 2.8em;
    margin-right: 2.8em;
   
}
.sign{
    cursor: pointer;
    width: 13px;
 }
 

.white-cart{
    margin-right: 1em;
}





@media screen and (max-width: 875px) {
    @include medquery();
   }